<div class="row sticky-top m-0 p-lr-15 bg-light">
    <div class="col-lg-12   my-2">
      <h1 class="color-mydashboard  font-weight-6 main-head">MyDashboard</h1>

      <div class="dropdown admin border-left border-right">
        <a class=" " href="#" role="button" id="profile" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img class="nav-profile-icon " src="/images/profile.jpeg" alt="">
        </a>

        <div class="dropdown-menu connection-list dropdown-align-right " aria-labelledby="profile">
          <a href="/adminpanel/logout" class="dropdown-item font-grey"><i class="fas fa-power-off"></i> Logout</a>


        </div>
      </div>
    </div>
  </div>