<div class="container-fluid">
        
        <div class="row my-3">
            <div class="col-lg-3 my-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/projects.jpg" alt="">
                    <div class="overlay-img card-bg">
                        <div class="card-logo">
                                <h3 class="text-light text-center">Projects</h3>
                                {{!-- <h5 class="text-light text-center">Counts</h5> --}}
                        </div>
                    </div>
                    <div class="card-footer bg-dark z-index text-center justify-content-center">
                        <a class="text-light font-30" href="/adminpanel/projects">View all</a>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-3 my-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/blog-item.jpg" alt="">
                    <div class="overlay-img card-bg">
                        <div class="card-logo">
                                <h3 class="text-light text-center">Blogs</h3>
                                {{!-- <h5 class="text-light text-center">Counts </h5> --}}
                        </div>
                    </div>
                    <div class="card-footer bg-dark z-index text-center justify-content-center">
                        <a class="text-light font-30" href="/adminpanel/blog">View all</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 my-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/contact.jpg" alt="">
                    <div class="overlay-img card-bg">
                        <div class="card-logo">
                                <h3 class="text-light text-center">Contacts</h3>
                                {{!-- <h5 class="text-light text-center">Counts </h5> --}}
                        </div>
                    </div>
                    <div class="card-footer bg-dark z-index text-center justify-content-center">
                        <a class="text-light font-30" href="/adminpanel/contactlist">View all</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 my-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/subscribe.jpg" alt="">
                    <div class="overlay-img card-bg">
                        <div class="card-logo">
                                <h3 class="text-light text-center">Subscribe</h3>
                                {{!-- <h5 class="text-light text-center">Count </h5> --}}
                        </div>
                    </div>
                    <div class="card-footer bg-dark z-index text-center justify-content-center">
                        <a class="text-light font-30" href="/adminpanel/subscribelist">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark custom-bottom p-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 justify-content-center">
                    <p class="text-light text-center">&copy; Niket Dewangan-thruskills</p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
        </footer>