.overlay-img{
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}
.card-bg{
    background-color: rgba(41, 37, 37, 0.5)
}

.card-logo{
    width: 100%;
    position: absolute;
    top: 35%;
    left: 0;
}
.color-mydashboard{
    color: rgb(0, 123, 255);
}
.z-index{
    z-index: 1;
}
.main-head{
    float: left;
 }
.admin{
     float: right; 
   
}
.nav-profile-icon{
    width: 32px;
    height: 32px;
    border-radius: 25px;
    margin: 13px 20px;
}
.dropdown-align-right{
    right: 5px;
    left: auto;
}

.font-30{
    font-size: 30px;
}
.custom-bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030
}
@media only screen and (max-width: 992px){
    .custom-bottom{
        position: relative;
    }
}