<div class="container-fluid  ">
    <div class="my-dashboard">
        <div class="sidebar main-bg">

            <nav class="navbar navbar-expand-lg custom-navbar navbar-light ">
                <h3 class=" brand sidebar-text-color navbar-border-bottom">Menu</h3>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars font-25 toggle-button"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-ul">
                        <li class="nav-item ">
                            <a class=" custom-nav-link " href="/adminpanel/projects">Projects </a>

                        </li>
                        <li class="nav-item ">
                            <a class="custom-nav-link   " href="/adminpanel/blog">Blogs </a>

                        </li>
                        <li class="nav-item ">
                            <a class=" custom-nav-link " href="/adminpanel/contactlist">Content </a>

                        </li>
                        <li class="nav-item ">
                            <a class=" custom-nav-link " href="/adminpanel/subscribelist">Subscribers </a>

                        </li>
                        <li class="nav-item">
                            <a class="custom-nav-link logout-list" href="/adminpanel/logout">Sign Out</a>
                        </li>

                    </ul>
                </div>
            </nav>

        </div>
    </div>

    <div class="row m-0 ">
        <div class="col-lg-12">
            <div class="my-content ">
                {{#if success}}
                <p class="alert-success">Blog updated successfully.</p>
                {{/if}}
                <h1>Blog detail</h1>
                <hr>
                <br>

                <form action="/adminpanel/blog/{{blog._id}}" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="title">Title</label>
                            <input type="ttext" name="title" class="form-control" id="title" placeholder="Project title"
                                value="{{blog.title}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="image">Image</label>
                            <input type="text" name="img" class="form-control" id="image"
                                placeholder="Project image url" value="{{blog.img}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" placeholder="Description" name="desc"
                            rows="5">{{blog.blog}}</textarea>
                    </div>


                    <button type="submit" class="btn btn-primary">Update</button>
                </form>

            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</div>